.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.date-navigator {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .move-button {
    padding: 10px;
  }

  .date-big-font {
    font-size: 24px;
    font-weight: bold;
  }

  .date-normal-font {
    color: var(--color-gray-0);
  }
}

.text-center {
  text-align: center;
}

.todo-list {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .done {
      text-decoration: line-through;
      color: var(--color-gray-1);
    }
  }
}

input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-gray-1);
  outline: none;
  color: var(--color-white);
  padding: 6px 0;
  font-size: 1em;
  width: 100%;
}

.cancel-button {
  background: none;
  border: 1px solid var(--color-primary);
  border-radius: 14px;
  color: var(--color-primary);
  padding: 5px 10px;
  margin-right: 4px;
  font-weight: 700;
}

.save-button {
  background: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 14px;
  padding: 5px 10px;
  font-weight: 700;
}

.add-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
